# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\山海紫螺\20210525外网线上脚本版本\dlqx_timing_python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
